.plant-details .img-wrapper {
	text-align: center;
}

.plant-details .img-wrapper p {
	text-align: left;
	margin-bottom: 1em;
}

.add-to-collection-wrapper {
	display: flex;
	justify-content: center;
}
